<head>
    <link rel="stylesheet" href="~/css/STEditStyle.css" asp-append-version="true" />
</head>

@model AlqudsProject.Models.Manhaj

<div class="add-student-form">
    <h2>تعديل بيانات المنهج</h2>

    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="ManhajId" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-columns">
            <div>
                <label asp-for="Name">📚 اسم المنهج</label>
                <input asp-for="Name" class="form-control" placeholder="اسم المنهج" required />
                <span asp-validation-for="Name" class="text-danger"></span>

                <label asp-for="Url">🔗 رابط المنهج</label>
                <input asp-for="Url" class="form-control" placeholder="رابط المنهج" required />
                <span asp-validation-for="Url" class="text-danger"></span>

                <label asp-for="Picture">📸 رابط صورة المنهج</label>
                <input asp-for="Picture" class="form-control" placeholder="رابط صورة المنهج" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
        </div>

        <div class="form-buttons">
            <input type="submit" value="تعديل" class="btn btn-my-submit" />
            <a asp-action="Index" class="btn btn-my-danger">تراجع</a>
        </div>
    </form>
    <div asp-validation-summary="All" class="text-danger mt-3 text-center"></div>
</div>
