<head>
    <link rel="stylesheet" href="~/css/HalagatDeleteStyle.css" asp-append-version="true" />
</head>

@model AlqudsProject.Models.Halaqa

@{
    ViewData["Title"] = "حذف الحلقة";
}

<section class="main-section px-4">
    <div class="container">
         <h2 class="student-name">هل تريد حذف حلقة @Model.Name</h2>
        <div class="cardRow">           
            <div class="col-md-6 mb-4">
                <img src="~/images/cardbg1.jpg" class="img-fluid-2" alt="...">  
            </div>
            <div class="col-md-6">
                <p class="lead my-3">
                    <strong>المعلمة:</strong> @Model.Teacher?.Name
                </p>
                <p class="lead my-3">
                    <strong>السنة الدراسية:</strong> @Model.AcademicYear?.AcademicYear1
                </p>
                <p class="lead my-3">
                    <strong>الفترة:</strong> @Model.Period
                </p>
                @if (Model.HalaqaManhajs != null && Model.HalaqaManhajs.Any())
                {
                    <p class="lead my-3">
                        <div class="lead-details-item">
                            <strong>المناهج الدراسية:</strong>
                            <ul>
                                @foreach (var manhaj in Model.HalaqaManhajs.Select(hm => hm.Manhaj))
                                {
                                     <li>- @manhaj?.Name</li>
                                }
                            </ul>
                        </div>
                    </p>
                }
                @if (Model.PathHalaqaRelationships != null && Model.PathHalaqaRelationships.Any())
                {
                    <p class="lead my-3">
                        <div class="lead-details-item">
                            <strong>مسارات الحفظ:</strong>
                            <ul>
                                @foreach (var path in Model.PathHalaqaRelationships.Select(hp => hp.MemorizationPath))
                                {
                                     <li>- @path?.Name</li>
                                }
                            </ul>
                        </div>
                    </p>
                }
            </div>
        </div>

        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="HalaqaId" />
            <div class="btn-back mt-5">
                <button type="submit" class="btn btn-my-danger">حذف</button>
                <a asp-action="Index" class="btn btn-my-secondary">إلغاء</a>
            </div>
        </form>
    </div>
</section>




